<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block titulo %}
                Inicio 
            {% endblock %}
            - Master PHP     
        </title>
    </head>
    <body style="background-color: antiquewhite; text-align: center;">
        <div id="header">
            {% block cabecera %}
                <h1 style="color: darkslategray;">
                    Cabecera de la plantilla
                </h1>
            {% endblock %}
            <hr>
        </div>
        <section id="content">
            {% block contenido %}
                <p>
                    Contenido por defecto
                </p>
            {% endblock %}
        </section>
        <hr>
        <footer style="color: dimgrey;">
            Sergio Salguero @copy       
        </footer>
    </body>
</html>
